@page "/"

<PageTitle>Home</PageTitle>

<div class="mbody">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <div class="main-wrapper">
        <svg class="check-icon" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M65 24C42.3563 24 24 42.3563 24 65C24 87.6437 42.3563 106 65 106C87.6437 106 106 87.6437 106 65C106 42.3563 87.6437 24 65 24ZM16 65C16 37.938 37.938 16 65 16C92.062 16 114 37.938 114 65C114 92.062 92.062 114 65 114C37.938 114 16 92.062 16 65Z" fill="#52AF61" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M88.8284 47.1716C90.3905 48.7337 90.3905 51.2663 88.8284 52.8284L61.5355 80.1213C59.5829 82.0739 56.4171 82.0739 54.4645 80.1213L40.1716 65.8284C38.6095 64.2663 38.6095 61.7337 40.1716 60.1716C41.7337 58.6095 44.2663 58.6095 45.8284 60.1716L58 72.3431L83.1716 47.1716C84.7337 45.6095 87.2663 45.6095 88.8284 47.1716Z" fill="#52AF61" />
        </svg>

        <div class="contrast-text">Успешно</div>
        <div class="subtitle-text">Оплата совершена.</div>

    </div>
</div>